@import "null.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");

.wrapper {
    max-height: 100%;
    overflow: hidden;
    font-family: "Lato";
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    max-width: 390px;
    margin: 0 auto 30px;
    padding-top: 100px;
    color: #1e212c;
}

.first {
    font-weight: 700;
    line-height: 1.5;
    /* задал uppercase так как может измениться текст и он должен быть весь с заглавных букв */
    text-transform: uppercase;
    margin-bottom: 8px;
}

h1 {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
}

/*Чтобы не было схлопывания*/
header {
    margin-bottom: 40px;
}

.list {
    margin-bottom: 12px;
    padding: 0 0 0 32px;
}

.list::before {
    content: "";
    display: inline-block;
    background: url("../img/check.png") 0 0 / 16px no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 16px 0 -32px;
}

/*чтобы не было схлопывания*/
.list:last-child {
    display: block;
    margin-bottom: 0px;
}
ul {
    margin-bottom: 48px;
}

/*Делаем кнопку через ссылку, не через div*/
.btn {
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 3.14;
    background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    padding: 0 32px;
    border: 1px solid #f75e05;
    border-radius: 4px;
}
.btn:hover {
    color: #f75e05;
    background-image: linear-gradient(55.95deg, #ff403a00 0%, #f75e0500 100%);
    border-radius: 4px;
    border: 1px solid #f75e05;
}

main {
    margin-bottom: 80px;
}

/*========================================================================*/

.second-ex {
    font-family: "Taviraj";
    font-size: 36px;
    color: #333333;
    line-height: 1.11;
}

.second-ex::after {
    content: "";
    display: block;
    background-color: black;
    height: 2px;
    /*тут просто методом подбора делал, чтобы было похоже, мог через width делать, но зачем копировать.*/
    width: 16%;
    margin-top: 8px;
}
